option domain-name "diego.igor.devops";
option domain-name-servers 1.1.1.1, 8.8.8.8;
default-lease-time 600;
max-lease-time 7200;
authoritative;

subnet 192.168.56.0 netmask 255.255.255.0 {
  range 192.168.56.50 192.168.56.100;
  option routers 192.168.56.1;
  option broadcast-address 192.168.56.255;
}

host db {
  hardware ethernet 08:00:27:27:e0:7c; 
  fixed-address 192.168.56.125;
}

host app {
  hardware ethernet 08:00:27:4b:a0:14; 
  fixed-address 192.168.56.145;
}

